### Midpoint Method

This code implements the Runge-Kutta midpoint method to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$.

We specify an initial condition $y(t_0) = \alpha$. The algorithm can be defined recursively by
\begin{align*}
w_0 &= \alpha, \\
w_{i+1} &= w_i + hf \left(t_i + \frac{h}{2}, w_i + \frac{h}{2} f(t_i, w_i) \right)
\end{align*}

The below example is the solution to Exercise 5.4.7(b) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [11]:
import numpy as np
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

Specify your desired arguments below.

In [19]:
# Function
f = lambda t, y: 1 + y/t + (y/t)**2
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 3
# Step size
h = 0.2
# Initial condition
alpha = 0

N = int((t_1-t_0)/h)
t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = alpha

In [20]:
# Approximations
for i in range(0, len(t) - 1):
  w[i+1] = w[i] + h*f(t[i] + h/2, w[i] + h/2*f(t[i], w[i]))

In [21]:
# Output
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ         wᵢ
0   1.0  0.0000000
1   1.2  0.2198347
2   1.4  0.4861770
3   1.6  0.8061849
4   1.8  1.1884393
5   2.0  1.6438889
6   2.2  2.1868609
7   2.4  2.8364357
8   2.6  3.6184926
9   2.8  4.5688944
10  3.0  5.7386475

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Modified Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [23]:
# Exact solution
y = lambda t: t*np.tan(np.log(t))
yt = np.zeros(len(t))

In [24]:
# Looping to determine actual values
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [25]:
# Output
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ         wᵢ      y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0  0.0000000  0.0000000     0.0000000
1   1.2  0.2198347  0.2212428     0.0014081
2   1.4  0.4861770  0.4896817     0.0035046
3   1.6  0.8061849  0.8127527     0.0065678
4   1.8  1.1884393  1.1994386     0.0109994
5   2.0  1.6438889  1.6612818     0.0173928
6   2.2  2.1868609  2.2135018     0.0266409
7   2.4  2.8364357  2.8765514     0.0401157
8   2.6  3.6184926  3.6784753     0.0599828
9   2.8  4.5688944  4.6586651     0.0897707
10  3.0  5.7386475  5.8741000     0.1354525