### Modified Euler's Method

This code implements Modified Euler's Method to approximate ordinary differential equations of the form $ y'(t) = f(t,y)$ at equally-spaced mesh points between $t_0$ and $t_1$ with a step size of $h$. Note that the variable `f` below represents $f(t,y)$.

We specify an initial condition $y(t_0) = \alpha$. The algorithm can be defined recursively by
\begin{align*}
w_0 &= \alpha \\
w_{i+1} &= w_i + \frac{h}{2} \left[ f(t_i, w_i) + f(t_{i+1}, w_i + hf(t_i, w_i)\right]
\end{align*}

for $i = 0, 1, \ldots, N-1$. The below example is the solution to Exercise 5.4.3(b) in *Numerical Analysis* (10th Edition) by Burden and Faires.

In [ ]:
import numpy as np
import pandas as pd
import math

# For more decimal places
pd.set_option("display.precision", 7)

Specify your desired arguments below.

In [ ]:
# Function
f = lambda t, y: 1 + y/t + (y/t)**2
# Left endpoint
t_0 = 1
# Right endpoint
t_1 = 3
# Step size
h = 0.2
# Initial condition
alpha = 0

N = int((t_1-t_0)/h)
t = np.arange(t_0, t_1+h, h)
w = np.zeros(len(t))
w[0] = alpha

In [ ]:
# Approximations
for i in range(0, len(t) - 1):
  w[i+1] = w[i] + h/2*(f(t[i], w[i]) +  f(t[i+1], w[i] + h*f(t[i], w[i])))

In [ ]:
# Output
df = pd.DataFrame({('tᵢ'): t, 'wᵢ': w})
df

     tᵢ         wᵢ
0   1.0  0.0000000
1   1.2  0.2194444
2   1.4  0.4850495
3   1.6  0.8040116
4   1.8  1.1848560
5   2.0  1.6384229
6   2.2  2.1788772
7   2.4  2.8250651
8   2.6  3.6025247
9   2.8  4.5466136
10  3.0  5.7075699

### Exact Solution and Actual Error

If we know the solution $y(t)$ to the initial value problem--whether it is given to us or we calculate it analytically--the exact values and actual (absolute) error of the Modified Euler approximations can be calculated. Below, `y` represents the solution to the IVP.

In [ ]:
# Exact solution
y = lambda t: t*np.tan(np.log(t))
yt = np.zeros(len(t))

In [ ]:
# Looping to determine actual values
for i in range(0, len(t)):
  yt[i] = y(t[i])

In [ ]:
# Output
df2 = pd.DataFrame({('tᵢ'): t, 'wᵢ': w,
                    'y(tᵢ)': yt, '|y(tᵢ) - wᵢ|': abs(w-yt)})
df2

     tᵢ         wᵢ      y(tᵢ)  |y(tᵢ) - wᵢ|
0   1.0  0.0000000  0.0000000     0.0000000
1   1.2  0.2194444  0.2212428     0.0017983
2   1.4  0.4850495  0.4896817     0.0046322
3   1.6  0.8040116  0.8127527     0.0087411
4   1.8  1.1848560  1.1994386     0.0145827
5   2.0  1.6384229  1.6612818     0.0228589
6   2.2  2.1788772  2.2135018     0.0346246
7   2.4  2.8250651  2.8765514     0.0514863
8   2.6  3.6025247  3.6784753     0.0759506
9   2.8  4.5466136  4.6586651     0.1120515
10  3.0  5.7075699  5.8741000     0.1665301